<h1> My House-Manager</h1>

<div class="alert alert-success" *ngIf="message">{{message}}</div>

  <div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>Description</th>
                <th>Target Date</th>
                <th>is Completed?</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let list of todos">
                <td>{{list.description}}</td>
                <td>{{list.targetDate | date | uppercase}}</td>
                <td>{{list.done}}</td>
                <td><button (click)="updateTodo(list.id)" class ="btn btn-success">Update</button></td>
                <td><button (click)="deleteTodo(list.id)" class ="btn btn-warning">Delete</button></td>

            </tr>
        </tbody>
    </table>
</div>