<h1> My House-Manager</h1>
  <div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>Room</th>
                <th>Description</th>
                <th>Target Date</th>
                <th>is Completed?</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let list of lists">
                <td>{{list.description}}</td>
                <td>{{list.targetDate | date | uppercase}}</td>
                <td>{{list.done}}</td>
            </tr>
        </tbody>
    </table>
</div>